@import url('https://fonts.googleapis.com/css?family=Courgette');

.spotBox
{
  font-family: 'Courgette', cursive;
  font-size: 1.8em;
  font-weight: 400;
  
  text-align: left;
  background-color: #FFF;
  margin: 25px;
  padding: 20px;
  word-wrap: break-word;
  
  border: 1.5px dashed #D9230F;
  border-radius: 0.3em;
}

.date
{
  font-family: "Segoe UI";
  margin-top: 0;
  font-size: 0.6em;
}

.sendSpot
{
  width: 150px;
  right: 15px;
  bottom: 15px;
  position: fixed;
  
  padding: 0.5rem 1rem;
}

@media (max-width: 1024px)
{
  .sendSpot
  {
    right: 5px;
    bottom: 5px;
    width: 100px;
  }
}