@import url('https://fonts.googleapis.com/css?family=Courgette');

.date
{
  font-family: "Segoe UI";
  margin-top: 0;
  font-size: 0.6em;
}

.sendSpot
{
  width: 150px;
  right: 15px;
  bottom: 15px;
  position: fixed;
  
  padding: 0.5rem 1rem;
}

@media (max-width: 1023px)
{
  .sendSpot
  {
    right: 5px;
    bottom: 5px;
    width: 100px;
  }
}