.message
{
  margin-top: 25px;
  color: white;
  font-size: 1.8em;
}

.brokenHeart
{
  width: 250px;
  margin-top: 40px;
}

@media (max-width: 768px)
{
  .brokenHeart
  {
    width: 150px;
  }
}

.link
{
  font-size: 1.8em;
  color: darkred;
}