.content.admin {
  &.centralize {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
  }

  .changeStatus {
    cursor: pointer;
    margin-right: 30px;
  }
  
  input {
    margin-bottom: 20px;

    &[type=email], &[type=password] {
      font-size: 1.25em;
      width: 100%;
      padding: 12px;
      border: 1px solid #f85a69;
      border-radius: 10px;
      resize: vertical;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      transition: box-shadow 0.4s;

      &:focus {
        box-shadow: 0 0 5px lighten($color: #f85a69, $amount: 1.5);
      }
    }
  }
  
  label {
    color: white;
    vertical-align: middle;
    display: inline-block;
    line-height: 49px;
    font-size: 1.4em;
  }
  
  .options {
    position: fixed;
    top: 120px;
    right: 20px;

    .btn {
      display: block;
      width: 100%;
      flex-grow: 1;
      margin-bottom: 10px;
    }

    @media only screen and (max-width: 768px) {
      margin-top: 20px;
    }

    @media only screen and (max-width: 1023px) {
      position: relative;
      top: 0;
      right: 0;

      .btn {
        display: inline-flex;
        width: unset;
        margin: 0 10px;
      }
    }
  }
}