.content.admin {
  @media only screen and (max-width: 768px) {
    & {
      padding: 0;
    }
  }

  &.centralize {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
  }

  .changeStatus {
    cursor: pointer;
    margin-right: 30px;
  }
  
  input {
    margin-bottom: 20px;

    &[type=text], &[type=password] {
      font-size: 1.25em;
      width: 100%;
      padding: 12px;
      border: 1px solid #f85a69;
      border-radius: 10px;
      resize: vertical;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      transition: box-shadow 0.4s;

      &:focus {
        box-shadow: 0 0 5px lighten($color: #f85a69, $amount: 1.5);
      }
    }
  }
  
  label {
    color: white;
    vertical-align: middle;
    display: inline-block;
    line-height: 49px;
    font-size: 1.4em;
  }

  .btn {
    width: 100%;
  }
  
  @media (max-width: 1023px) {
    .Logout-btn {
      position: absolute;
      right: 30px;
      top: 60px;
    }
  }
  
  @media (min-width: 1024px) {
    .Logout-btn {
      position: absolute;
      right: 50px;
      top: 100px;
    }
  }
}