.content.home {
  @media only screen and (max-width: 768px) {
    & {
      padding: 0;
    }
  }

  .sendSpot {
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 150px;

    img {
      width: 100%;
      filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
    }
  }

  @media (max-width: 1023px) {
    .sendSpot {
      right: 10px;
      bottom: 10px;
      width: 100px;
    }
  }
}