.home {
  .sendSpot {
    right: 15px;
    bottom: 15px;
    position: fixed;
    padding: 0.5rem 1rem;

    img {
      width: 150px;
    }
  }

  @media (max-width: 1023px) {
    .sendSpot {
      right: 5px;
      bottom: 5px;
      width: 100px;

      img {
        width: 100px;
      }
    }
  }
}