html {
  min-height: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  background-color: #DF7070;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI";
  overflow-x: hidden;
  background-position: -40px 25px;
  background-image: url("../imgs/bg.png");
}

@media (max-width: 1023px) {
  body {
    font-size: 12px;
  }
}

a {
  text-decoration: none;
  color: white;
}

.App {
  min-height: 100%;
  height: 100vh;
  text-align: center;
}

header {
  position: relative;
  display: inline-flex;
  width: 100%;
  background-color: #f0739f;

  a {
    margin: 0 auto;
    
    img  {
      margin: 0;
      height: 100px;
    }
  }

  .bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    left: 36px;
    top: calc(50% - 15px);

    .bm-burger-bars {
      background-color: #FFF;
      transition: opacity 0.4s;
    }
  }
  
  .bm-item-list {
    font-size: 2.2em;
    background-color: #f0739f;
    overflow: hidden !important;
    
    & > div {
      width: 100%;
      display: block;
      height: auto;
      padding: 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }

    a {
      margin-right: 20px;
      font-weight: 700;
      color: #252525;
      transition: background-color 0.4s;
    }
  }
}

footer {
  background-color: #7C0606;
  color: white;
  font-size: 1.18em;
  font-weight: 500;
  line-height: 75px;
  box-sizing: content-box;

  .heart {
    font-size: 1.2em;
    color: #f42c2a;
  }

  .fbLink {
    color: #ff7c7c;
  }
}

@media (max-width: 1023px) {
  header a h1 {
    line-height: 75px !important;
  }

  footer {
    line-height: 50px;
  }
}

.content {
  padding: 20px 0 20px 0;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: calc(100vh - 216px);
}

@media (max-width: 1023px) {
  .content {
    width: 100%;
    height: calc(100vh - 167px);
  }
}

.loader {
  border: 16px solid #d9d9d9;
  border-top: 16px solid #a72a2a;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s ease infinite;
  margin: auto;
  margin-top: 100px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}