.spotBox {
  position: relative;
  font-family: "Courgette", sans-serif;
  font-size: 1.6rem;
  text-align: left;
  background-color: #fff;
  margin: 25px;
  padding: 20px;
  white-space: pre-line;
  word-break: break-word;
  border: 1px dashed #f85a69;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

  .date {
    font-family: "Segoe UI", "Ubuntu", sans-serif;
    margin-top: 0;
    font-size: 0.6em;
    color: #4c4c4c;
  }

  hr {
    background-color: #6c6c6c;
    border-color: #6c6c6c;
    color: #6c6c6c;
    margin: 20px 0;
  }

  .spotBoxFooter {
    height: 32px;

    .socialMedia {
      margin-right: 20px;
    }
  }
}