.spotBox {
  position: relative;
  font-family: "Courgette", "URW Chancery L", "Apple Chancery", sans-serif;
  font-size: 1.6rem;
  text-align: left;
  background-color: #fff;
  margin: 25px;
  padding: 20px;
  white-space: pre-line;
  word-break: break-word;
  word-wrap: break-word;
  border: 1px dashed #f85a69;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

  .header {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.6em;

    .date {
      margin: 0;
      font-size: 0.6em;
      color: #4c4c4c;
    }

    .deleteSpot {
      height: 0.8em;
      cursor: pointer;
    }
  }

  hr {
    height: 1px;
    background-color: #6c6c6c;
    border: none;
    margin: 20px 0;
  }

  .spotBoxFooter {
    height: 32px;

    .socialMedia {
      margin-right: 20px;
    }
  }
}