.content.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  .presentation {
    margin-bottom: 40px;
    color: #252525;
    font-size: 1.4em;

    a {
      color: #f85a69;
    }
  }

  h1 { 
    font-size: 1.4em; 
    font-weight: 500; 
  }

  .btn .spinner {
    display: none;
    height: 1.4rem;
    width: 1.4rem;
    margin: 0 20px;
    margin-right: calc(-20px - 1.4rem);

    &.active {
      display: block;
    }
  }
  
  textarea {
    border: 2px solid #f85a69;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    resize: none;
    width: 85%;
    height: 140px;
    margin-bottom: 20px;
    font-family: "Segoe UI";
    outline: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.4s;

    &:focus {
      box-shadow: 0 0 5px lighten($color: #f85a69, $amount: 1.5);
    }
  }
  
  @media (max-width: 1023px) {
    textarea {
      font-size: 1.4em;
      height: 110px;
    }
  }
}