hr
{
  margin: 20px 0 20px 0;
}

.spotBox
{
  font-size: 1.5em;
  text-align: left;
  background-color: #FFF;
  margin: 25px;
  padding: 20px;
}

.spotBoxFooter
{
  height: 32px;
}

.changeStatus
{
  cursor: pointer;
  margin-right: 30px;
}

.date
{
  font-size: 0.6em;
}