html
{
  min-height: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body
{
  min-height: 100%;
  background-color: #DF7070;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI";
  overflow-x: hidden;
  
  background-position: -40px 25px;
  background-image: url("imgs/bg.png");
}

@media (max-width: 1023px)
{
  body
  {
    font-size: 12px;
  }
}

a
{
  text-decoration: none;
  color: white;
}

.App
{
  min-height: 100%;
  height: 100vh;
  text-align: center;
}

.App-header
{
  background-color: #7C0606;
  color: white;
}
.App-footer
{
  background-color: #7C0606;
  color: white;
  font-size: 1.18em;
  font-weight: 500;
  line-height: 75px;
  box-sizing: content-box;
}

@media (max-width: 1023px)
{
  .App-title
  {
    line-height: 75px !important;
  }
  
  .App-footer
  {
    line-height: 50px;
  }
}

.App-title
{
  display: inline-block;
  font-size: 2em;
  margin: 0;
  line-height: 100px;
}

.content
{
  padding: 20px 0 20px 0;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height:  calc(100vh - 216px);
}

@media (max-width: 1023px)
{
  .content
  {
    width: 100%;
    height:  calc(100vh - 167px);
  }
}

.spotBox
{
  position: relative;
  font-family: 'Courgette', cursive;
  font-size: 1.8em;
  font-weight: 400;
  
  text-align: left;
  background-color: #FFF;
  margin: 25px;
  padding: 20px;
  word-break: break-all;
  
  border: 1.5px dashed #D9230F;
  border-radius: 0.3em;
}

hr
{
  margin: 20px 0 20px 0;
}

.spotBoxFooter
{
  height: 32px;
}

.date
{
  font-family: "Segoe UI";
  margin-top: 0;
  font-size: 0.6em;
}

.heart
{
  font-size: 1.2em;
  color: #f42c2a;
}

.fbLink
{
  color: #ff7c7c;
}

.loader
{
  border: 16px solid #d9d9d9;
  border-top: 16px solid #a72a2a;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s ease infinite;
  margin: auto;
  margin-top: 100px;
}

@keyframes spin
{
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.bm-burger-button
{
  position: absolute;
  width: 36px;
  height: 30px;
  left: 36px;
  top: calc((100px - 30px) / 2);
}

@media (max-width: 1023px)
{
  .bm-burger-button
  {
    top: calc((75px - 30px) / 2);
  }
}

.bm-burger-bars
{
  background: #FFF;
}

.bm-morph-shape
{
  fill: #FFF;
}

.bm-menu
{
  font-size: 2.2em;
  background: #380000;
  overflow: hidden !important;
}

.bm-menu a 
{
  background: #200000;
  width: 100%;
}

.bm-menu a:hover, .bm-menu a:focus 
{
  color: #c94e50;
}

.bm-item-wrap
{
  background: #200000;
  margin-top: 0.7em;
}

.bm-item-list a
{
  margin: 1.4em auto 0.7em auto;
  width: 100%;
}

.bm-item-list a span 
{
  font-weight: 700;
}