body
{
  background-color: #DF7070;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI";
  overflow-x: hidden;
  
  background-position: -40px 25px;
  background-image: url("imgs/bg.png");
}

@media (max-width: 1024px)
{
  body
  {
    font-size: 12px;
  }
}

a
{
  text-decoration: none;
  color: white;
}

.App
{
  text-align: center;
}

.App-header
{
  background-color: #7C0606;
  height: auto;
  padding: 20px;
  color: white;
}

.App-title
{
  font-size: 2em;
  margin: 0;
  margin-bottom: 5px;
}

.content
{
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
}

@media (max-width: 1024px)
{
  .content
  {
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
  }
}

.spotBox
{
  font-family: 'Courgette', cursive;
  font-size: 1.8em;
  font-weight: 400;
  
  text-align: left;
  background-color: #FFF;
  margin: 25px;
  padding: 20px;
  word-wrap: break-word;
  
  border: 1.5px dashed #D9230F;
  border-radius: 0.3em;
}

.date
{
  font-family: "Segoe UI";
  margin-top: 0;
  font-size: 0.6em;
}