body
{
  background-color: #DF7070;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI";
  overflow-x: hidden;
  
  background-image: url("imgs/bg.png");
}

@media (max-width: 1024px)
{
  body
  {
    font-size: 12px;
  }
}

a
{
  text-decoration: none;
  color: white;
}

.App
{
  text-align: center;
}

.App-header
{
  background-color: #7C0606;
  height: auto;
  padding: 20px;
  color: white;
}

.App-title
{
  font-size: 2em;
  margin: 0;
  margin-bottom: 5px;
}

.content
{
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
}

@media (max-width: 1024px)
{
  .content
  {
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
  }
}